body{
    margin: 0;
    height: 100vh;
    background-color: #eee;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40rem 0rem auto 10rem;
    grid-template-areas:
    "navi navi navi"
    "search search search"
    "midd midd midd"
    "bot bot bot"
    ;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    grid-area: navi;
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQHcR2gmU7JXDw/company-background_10000/0/1563380235910?e=2159024400&v=beta&t=hxCkw7p7TpKWETgNSTrVDqDC8aKe2Q2BFAwzlqGdcjs");
}

.navi{
    right: -51vw;
    top: -18rem;
    position: relative;
}

a{
    color: black;
}

.title{
    color: #000;
    position: relative;
    top: 5rem;
    right: 3rem;
}

#image-Search{
    display: flex;
    grid-area: search;
    position: relative;
    top: -10rem;
    right: -3rem;
}

.midd{
    grid-area: midd;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding: 2.3rem;
    flex-wrap: wrap;
}

.pics{
    padding: 1.2rem;
    width: 19rem;
    height: 15rem;
}

.bot{
    grid-area: bot;
    background-color: gray;
}

p{
    color: black;
}

script{
    font-size: 0px;
}

@media only screen and (max-width: 700px){
    [class*="top"]{
        background-image: url("https://i.guim.co.uk/img/media/027f99e50af24acf75d5f1a881c9db8813b1c990/0_75_4928_2957/master/4928.jpg?width=1200&quality=85&auto=format&fit=max&s=851cf9952544cbbf8472dfc1b5305c5f"); 
    }
}
