body{
    margin: 0;
    height: 100vh;
    background-color: #eee;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "navi navi navi"
    "midd midd midd"
    "bot bot bot"
    ;
}
body > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

